
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.section{
    min-height: 100vh;
    text-align: center;
    width: 100%;
    display: table;
}

.wrap-block{
    display: table-cell;
    vertical-align: middle;
}

.wrap-block h1{
    color: #000000;
    box-shadow: 28px 26px 30px 14px rgba(255,15,NaN,1);
    font-family: 'Monoton', cursive;
    animation-name: text-move;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}



/* ANIMATION */
@keyframes text-move{
    from{
        text-align: center;
        vertical-align: middle;
    }
    to{
        margin-bottom: 30rem;
    }
}